header,
body > div {
  width: 100%;
}
.top,
.con {
  width: 1500px;
  height: 80px;
  background-color: #efefef;
  margin: 0px auto 10px;
  display: flex;
  justify-content: space-around;
  line-height: 80px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px dashed #363636;
}
.con {
  background-color: #fff;
  height: 150px;
  line-height: 150px;
  overflow: hidden;
}
.con img {
  float: left;
  margin: 10px;
  padding: 5px;
  border: 1px solid #363636;
}
.big {
  width: 500px;
}
.con p {
  width: 470px;
  text-align: left;
  line-height: normal;
  height: 140px;
  overflow: hidden;
}
.con input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.con input[type="number"] {
  width: 100px;
  height: 40px;
}
div .top {
  justify-content: left;
  padding: 0px 63px;
}
#main3-layout input {
  margin: 0px 0px 0px 82px;
  height: 50px;
}
